labs_sol/*
!labs_sol/Labs0_sol.ipynb
!labs_sol/Labs1_sol.ipynb

*/*.html

class/*
!class/MathAssessmentAnswers.md

notes/NotesSection5Draft.ipynb

data/1DOULong.nc
data/2DOULong.nc

data/buoy
data/draft